section {
  min-height: 300px;
}

.heroSectionContent {
  align-items: stretch;
  flex-direction: row;
  gap: 0;
  height: calc(100vh - 70px);

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  .heroSectionBackground {
    width: 50%;

    @media screen and (max-width: 1024px) {
      background-position: center;
      height: 50%;
      width: 100%;
    }
  }

  .heroSectionHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 2rem;
    padding: 2rem;

    @media screen and (max-width: 1024px) {
      height: 50%;
      width: 100%;
    }

    p {
      span {
        font-style: italic;
      }
    }
  }
}

.servicesSectionContent {
  gap: 1rem;

  .sectionHeading {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;
    text-align: start;
  }

  .servicesDetailsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .servicesImageWrapper {
      overflow: hidden;
      border-radius: 10px;
      height: 100%;
      width: 50%;

      @media screen and (max-width: 768px) {
        width: 100%;
        order: -1;
      }

      &:hover {
        img {
          scale: 1.1;
          transition: 0.3s;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
      }
    }

    .servicesDetailsSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: 50%;

      @media screen and (max-width: 768px) {
        width: 100%;
        gap: 1rem;
      }

      .servicesLayout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2rem;
        width: 100%;

        @media screen and (max-width: 768px) {
          gap: 1rem;
        }

        li {
          width: 100%;

          .servicesList {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding: 1rem;
            border: 1px solid $neutral300;
            border-radius: 10px;
            text-align: start;
          }
        }
      }

      .sectionCTA {
        width: 100%;
      }
    }
  }
}

.ChooseUsLayout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid $neutral300;
    border-radius: 10px;
    gap: 1rem;
    color: $primary;

    &:hover {
      box-shadow: 0 0 15px 1px rgb($neutral900, 0.2);
      .icon {
        rotate: 45deg;
        transition: 0.3s;
      }
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border-radius: 50%;
      background-color: $primary;
      color: $neutral100;
      transition: 0.3s;
    }
  }
}
