.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: $primary;
  color: $neutral100;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border: 1px solid $primary;
  transition: 0.3s;

  &:hover {
    background-color: $neutral100;
    color: $primary;
    border: 1px solid $primary;
    transition: 0.3s;
  }

  @media screen and (max-width: 1024px) {
    // padding: 0.5rem;
  }

  &.buttonType1 {
    background-color: transparent;
    border: 1px solid $neutral900;
    color: $neutral900;
    transition: 0.3s;

    &:hover {
      background-color: $neutral900;
      color: $neutral100;
      transition: 0.3s;
    }
  }

  &.buttonType2 {
    background-color: transparent;
    border: 1px solid $neutral100;
    color: $neutral100;
    transition: 0.3s;

    &:hover {
      background-color: $neutral100;
      color: $primary;
      transition: 0.3s;
    }
  }

  &.buttonType4 {
    background-color: transparent;
    border: 1px solid $neutral100;
    color: $neutral100;
    transition: 0.3s;
    backdrop-filter: blur(3px);
    padding: 1rem 2rem;

    &:hover {
      background-color: $neutral100;
      color: $primary;
      transition: 0.3s;
    }
  }
}
